body {
  font-family: 'Cabin', sans-serif;
  }

nav#nav_fixed ul li {
  display: inline-block;
  list-style-type: none;
  font-size: 1em;
  padding: 15px 0px;
  }

nav#nav_fixed ul li a {
  padding: 10px 15px;
  }

a.nav1:link , a.nav1:visited {
  color: white;
  text-decoration: none;
  }

a.nav1:hover , a.nav1:active {
  color: rgba(255, 255, 255, 0.7);
  }

nav#nav_fixed ul li a.active {
  color: rgba(255, 255, 255, 0.7);
  }

nav#nav_fixed ul {
  text-align: right;
  margin-right: 5%;
  }

nav#nav_fixed {
  width: 100%;
  background-color: #ff3381;
  }

nav#nav_fixed img {
  float: left;
  position: relative;
  left: 2%;
  }

img#logo {
  display: block;
  margin: 0 auto;
  min-width: 350px;
  }

@media screen and (max-width: 850px) {
    #nav_blog ul li {
      display: block;
      float: none;
      width: 100%;
    }
  }

nav#nav_blog ul li {
  display: inline-block;
	text-align: center;
  list-style-type: none;
  }

@media screen and (min-width: 850px) {
  @keyframes nav {
  from {font-size: auto;}
  to {font-size: 20px;}
  }
}

@media screen and (min-width: 850px) {
  #nav_blog ul li a {border-radius: 15px 15px 0px 0px;}
}

@media screen and (max-width: 850px) {
  a#nav_home {border-radius: 15px 15px 0px 0px;}
  }


nav#nav_blog ul li:hover {
  animation-name: nav;
  animation-duration: 1s;
  }

nav#nav_blog {
  display: block;
  margin-top: 10px;
  margin-left: 20%;
  margin-right: 20%;
  }

nav#nav_blog ul {
  padding: 0;
  margin-bottom:0;
  text-align: center;
  }

nav#nav_blog ul li a {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 15px;
  background-color: white;
  background-clip: padding-box;
  border: 2px solid;
  border-bottom: white;
  border-collapse: collapse;
  border-color: #ff3381;}

nav#nav_blog ul li a:link , :visited {
  background-color: #ff3381;
  color: white;
  }

nav#nav_blog ul li a.inactive:hover , a.inactive:active {
  color: #ff3381;
  background-color: white;
  }

nav#nav_blog ul li a.active {
  color: #ff3381;
  background-color: white
  }

nav#nav_blog ul li a.inactive {
  background-color: #ff3381;
  color: white
  }

section.main {
  margin: 0 auto;
  padding: 2em 2em 1em 2em;
  border-radius: 5px;
  }

div.mb3 {
  max-width: 80% !important;
  margin-bottom: 0px !important;
}

section.main h1.titoli_diario {
  font-size: 3em;
  padding-top: 5%;
  padding-bottom: 1.2%;
  padding-left: 5%;
  font-family: 'Merriweather Sans', sans-serif;
  }

section.main p.diario {
  width: 80%;
  font-family: 'Lora', serif;
  font-weight: 400;
  font-size: 1.2em;
  padding-left: 5%;
  padding-bottom: 30px;
  }

  section.main p.non_diario {
    width: 80%;
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 1.2em;
    padding-left: 5%;
    }

.img_gallery {
  }

a.link_testo:link , a.link_testo:visited {
  color: #ff3381;
  text-decoration: none;
  }

a.link_testo:hover {
  text-decoration: underline;
  }

a.link_testo:active {
  color: #c900d8;
  text-decoration: underline;
  }

a.link_titolo:link , a.link:visited {
  color: #ff3381;
  text-decoration: none;
  }

a.link_titolo:hover, a.link_titolo:active {
  color: #ff3381;
  text-decoration: underline;
  }

p.primo::first-letter {
  color: #ff3381;
  font-size: 1.5em;
  }

p.diario::first-line {
  text-indent: 3%;
  }

section.rubriche {
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 30px;
  padding: 1em;
  }

.card-deck {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  }

h5.card-title {
  color: #ff3381;
  }

.card {
  border: none !important;
  border-radius: 5px !important;
  }

.card-footer {
  border-top: 2px solid #ffdff2 !important;
  background-color: rgba(255, 255, 255, 1.0) !important;
  }

.card-img-top {
  padding: 10px 10px 0px 10px;
  }

img#profilo {
  max-width: 70%;
  height: auto;
  padding-top: 20px;
  position: relative;
  left: 40px;
  }

footer ul {
  list-style-type: none;
  text-align: center;
  margin-top: 5%;
  padding-top: 5%;
  padding-bottom: 1em;
  padding-left: 0px;
  background-color: rgba(255, 255, 255, 0.4);
  margin-bottom: 0px;
  }

li.footer {
  display: inline-block;
  font-size: 0.9em;
  padding-left: 3%;
  padding-right: 3%;
  }

footer div {
  text-align: center;
  padding-top: 5px;
  background-color: rgba(255, 255, 255, 0.4);}

p.social {
  display: inline-block;
  text-align: center;
  font-size: 0.9em;
  }

p.social i {
  font-size: 40px;
  color: #ff3381
  }

@keyframes ingrandimento {
  from {font-size: 40px;}
  to {font-size: 50px;}
  }

i.fab:hover {
  animation-name: ingrandimento;
  animation-duration: 1s;
  }

@media only screen and (max-width: 850px) {
  div.primo_carosello {display:none;}
}

@media only screen and (min-width: 850px) {
  div.secondo_carosello {display:none;}
}

img.opaco:hover {opacity: 0.7;}

.button {
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: white;
  color: #ff3381;
  border: 2px solid #ff3381;
  border-radius: 10px;
  }

.button:hover {
  background-color: #ff3381;
  color: white;
  text-decoration: none;
  }

p.bottone {
  padding-left: 30%;
  padding-top: 15px;
  padding-bottom: 15px;
  }

img.instagram {
  display: inline-block;
  float: right;
  padding: 15px;
  margin-right: 5%;
  }

@media screen and (max-width: 850px)
  {img.instagram {display:none}}

div.personaggi {
  margin: auto;
  margin-top: 3%;
  border: 5px dotted #FFA2C6 !important;
  }

img.saku {
  width: 90%;
  margin: 15px;
  }

.descrizione_pg {
  padding: 10px;
  }

.sottosezione_pg {
  padding: 6px;
  border-radius: 5px;
  width: 60%;
  }

.img_gallery {
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    transition: 0.3s;
    min-width: 30%;
    max-width: 40%;}

.img_gallery:hover , .img_gallery:active {
  opacity: 0.5;
  }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 70px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.7);
  }

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 550px;
  }

#caption01 , #caption02 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
  }

.modal-content, #caption01 , #caption02 {
  animation-name: zoom;
  animation-duration: 0.6s;
  }

@keyframes zoom {
  from {transform: scale(0.1)}
  to {transform: scale(1)}
  }

.close {
  position: absolute;
  top: 15px !important;
  right: 35px !important;
  color: #f1f1f1 !important;
  font-size: 40px !important;
  font-weight: bold !important;
  transition: 0.3s !important;
  }

.close:hover, .close:focus {
  color: #bbb !important;
  text-decoration: none;
  cursor: pointer;
  }

@media only screen and (max-width: 850px){
  .modal-content {width: 100%;}
  #gallery01 {min-width: 270px;}
  #gallery02 {min-width: 270px;}
  }

.img_gallery {
  margin: 10px;
  }

.leftcolumn {
  float: left;
  width: 73%;
  margin-left:
  }

.rightcolumn {
  float: right;
  width: 25%;
  background-color: white;
  padding-left: 20px;
  }

.imgblog {
  background-color: #FFCBEB;
  width: 90%;
  padding: 20px;
  margin: 10px 0 10px 0;
  }

.contenuto_principale {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  }

.menù_blog {
  padding: 10px;
  margin-top: 20px;
  }

.contenuti_blog:after {
  content: "";
  display: table;
  clear: both;
  }

.rightcolumn {margin-top: 20px;}

@media screen and (max-width: 850px) {
  .leftcolumn, .rightcolumn {width: 100%;}
  }

@media screen and (max-width: 400px) {
  .topnav a {float: none; width: 100%;}
  }

.sottotitolo_diario {
  color: #6C757D;
}

h2.titoli_diario {
  font-family: 'Merriweather Sans', sans-serif;
  }

p.blog {
  width: 80%;
  font-family: 'Lora', serif;
  font-weight: 400;
  font-size: 1.2em;
  }

ul.pagination {
  padding: 15px;
  padding-top: 10%;
  }

.item_attivo a {
  color: #ff3381 !important;
  }

.item_inattivo a {
  opacity: 0.3 !important;
  }

.item_inattivo a:hover {
  background-color: white !important;
  opacity: 0.3 !important;
  }
